body {
  background-color: Azure;
}
.navbar-custom {
  background-color: orange;
}
hr {
  border-width: thick;
  border-color: black;

}
.navbar-brand {
  font-family: Bookman, URW Bookman L, serif
}

td, th {

  text-align: justify;
  padding-right: 300px;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: cursive;
  font-size: 35px;
  strong;
}
.topics {
  font-family: cursive;
  font-size: 30px;
  strong;
}
