{% extends "base.html" %}
{% block content %}
<body>
  <center>
    <h1><strong>Enterprise Desktop Engineer</strong></h1>
  </center>
  <div class="clearfix">
    <div class="img-container">
      <center><img src="static\images\virtualdesktop.png" alt="Desktop" style="width:100%"></center>
    </div>
    <div class="img-container">
    <img src="static\images\vmware-logo.png" alt="VMWare" style="width:100%">
    </div>

  </div>
    <center>
    <p class="intro">In this course we will cover a variety of topics. We will discuss cloud concepts, security, endpoint management, virtual desktops with Azure and VMWare and other technical requirements to prepare you to become an enterprise desktop engineer.
      In addition to the topics mentioned, you will be required to take a weekly written test, conduct a weekly one on one interview and complete a weekly quality audit. Quality audits are technical topics that you have learned that can be presented
      in power point and demo'd</p>
  </center>
  <br>
  <center>
    <p class="topics"><strong><a href="{{ url_for('lessons') }}">Topics</a> that we will cover throughout this course, listed below:</strong></p>
    <ul class="topics">
      <li>Azure Essentials</li>
      <li>Administration and Scripting</li>
      <li>Networking and Databases</li>
      <li>Identity and Access Management</li>
      <li>Endpoint Management and Security</li>
    </ul>
  </center>

</body>
{% endblock %}
